.spectra{
  font-family: 'Spectral SC', serif;
}
.pacifio{
  font-family: 'Pacifico', cursive;
}
.into{
  font-family: 'Shadows Into Light', cursive;
}
.pangolin{
  font-family: 'Pangolin', cursive;
}
.indie-flower{
  font-family: 'Indie Flower', cursive;
}
.abel{
  font-family: 'Abel', sans-serif;
}
.amatic{
  font-family: 'Amatic SC', cursive;
}